<!-- Confirmation Modal to display and edit the processed text -->
<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Your Custom Story</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          id="storyText"
          class="form-control"
          rows="10"
          maxlength="3000"
          placeholder="Your story will appear here..."
          readonly
        ></textarea>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-dark-custom"
            onclick="saveStory()"
          >
            Save To PDF
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
