<!-- navigator -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">SNCreator</a>
    <div>
      {% if logged_in %}
      <!-- mypage -->
      <button
        type="button"
        class="btn btn-outline-dark"
        id="my-page"
        onclick="location.href='mypage'"
      >
        {{emoji}} {{nickname}}
      </button>
      <button type="button" class="btn btn-outline-dark" id="log-out">
        LOG-OUT
      </button>
      {% else %}
      <button type="button" class="btn btn-outline-dark" id="log-in">
        LOG-IN
      </button>
      {% endif %}
    </div>
  </div>
</nav>
