<section class="py-5">
  <div class="container px-4 px-lg-5">
    <h3>{{ genre or nickname }} Board</h3>
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-dark d-flex justify-content-between"
        style="text-align: center"
      >
        <a style="width: 5%">No</a>
        <a style="width: 10%">Genre</a>
        <a style="width: 50%">Title</a>
        <a style="width: 15%">Writer</a>
        <a style="width: 20%">Date</a>
      </li>
      {% if posts %} {% for post in posts %}
      <li
        class="list-group-item d-flex justify-content-between"
        style="text-align: center"
        id="contentsList"
      >
        <a style="width: 5%">{{ post['postId'] }}</a>
        <a style="width: 10%">{{ post['genre'] }}</a>
        <a style="width: 50%" class="title" data-postid="{{ post['postId'] }}"
          >{{ post['title'] }}</a
        >
        <a style="width: 15%">{{ post['nickname'] }}</a>
        <a style="width: 20%">{{ post['date'].strftime("%Y-%m-%d") }}</a>
      </li>
      {% endfor %} {% else %}
      <li class="list-group-item" style="text-align: center">
        There is no post
      </li>
      {% endif %}
    </ul>
  </div>
  <!-- Pagination Section Below with added margin and black color text -->
  <nav aria-label="Page navigation example" style="margin-top: 30px">
    <ul class="pagination justify-content-center">
      <li class="page-item {{ 'disabled' if current_page <= 1 else '' }}">
        <a
          class="page-link"
          href="{{ url_for('mypage', page=current_page-1) if current_page > 1 else '#' }}"
          aria-label="Previous"
          tabindex="{{ '-1' if current_page <= 1 else '' }}"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for num in range(1, total_pages + 1) %}
      <li class="page-item {{ 'active' if num == current_page else '' }}">
        <a class="page-link" href="{{ url_for('mypage', page=num) }}"
          >{{ num }}</a
        >
      </li>
      {% endfor %}
      <li
        class="page-item {{ 'disabled' if current_page >= total_pages else '' }}"
      >
        <a
          class="page-link"
          href="{{ url_for('mypage', page=current_page+1) if current_page < total_pages else '#' }}"
          aria-label="Next"
          tabindex="{{ '-1' if current_page >= total_pages else '' }}"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</section>
