<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-dark d-flex justify-content-between"
        style="text-align: center"
      >
        <a style="width: 5%">No</a>
        <a style="width: 10%">Genre</a>
        <a style="width: 50%">Title</a>
        <a style="width: 15%">Writer</a>
        <a style="width: 20%">Date</a>
      </li>
      {% if posts %} {% for post in posts %}
      <li
        class="list-group-item d-flex justify-content-between"
        style="text-align: center"
        id="contentsList"
      >
        <a style="width: 5%">{{ post['postId'] }}</a>
        <a style="width: 10%">{{ post['genre'] }}</a>
        <a style="width: 50%">{{ post['title'] }}</a>
        <a style="width: 15%">{{ post['nickname'] }}</a>
        <a style="width: 20%">{{ post['date'].strftime("%Y-%m-%d") }}</a>
      </li>
      {% endfor %} {% else %}
      <li class="list-group-item" style="text-align: center">
        There is no post
      </li>
      {% endif %}
    </ul>
  </div>
  <!-- Pagination Section Below with added margin and black color text -->
  <nav aria-label="Page navigation example" style="margin-top: 20px">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a
          class="page-link"
          href="#"
          aria-label="Previous"
          style="color: black"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" style="color: black">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" style="color: black">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" style="color: black">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next" style="color: black">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</section>
