<section>
  <div class="container px-4 px-lg-5 mt-3">
    <!-- 모달 카드의 상단 간격을 조절하기 위해 mt-5 클래스를 적용 -->
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center"
    >
      <!-- Each card now triggers a modal -->
      <div class="col mb-4">
        <div
          class="card h-100 d-flex justify-content-center align-items-center"
        >
          <h1 class="box h5">Fantasy</h1>
          <h3 class="box h3">{{ user.get('fantasy_cnt') }}</h3>
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 d-flex justify-content-center align-items-center"
        >
          <h1 class="box h5">Romance</h1>
          <h3 class="box h3">{{ user.get('rommance_cnt') }}</h3>
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 d-flex justify-content-center align-items-center"
        >
          <h1 class="box h5">SF</h1>
          <h3 class="box h3">{{ user.get('sf_cnt') }}</h3>
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 d-flex justify-content-center align-items-center"
        >
          <h1 class="box h5">Mystery</h1>
          <h3 class="box h3">{{ user.get('mystery_cnt') }}</h3>
        </div>
      </div>
      <div class="col mb-4">
        <div
          class="card h-100 d-flex justify-content-center align-items-center"
        >
          <h1 class="box h5">ALL</h1>
          <h3 class="box h3">
            {{ user.get('fantasy_cnt') + user.get('rommance_cnt') +
            user.get('sf_cnt') + user.get('mystery_cnt') }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
